
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<ui:insert name="head">
		<ui:include src="/template/fragments/head.xhtml" />
	</ui:insert>
	<script src="js/tinymce.min.js"></script>
	<script>
		tinymce.init({
			  selector: '.newThreadBody',
			  height: 250,
			  plugins: ['placeholder'],
			  placeholder: 'Tell us your story...',
			  toolbar: '',
			  imagetools_cors_hosts: ['tinymce.com', 'codepen.io'],
			  content_css: [
			    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
			    '//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.css',
			    '//www.tinymce.com/css/codepen.min.css'    
			  ]
			});
	</script>

</h:head>

<h:body>

	<div id="header">
		<ui:insert name="header">
			<ui:include src="/template/fragments/header.xhtml" />
		</ui:insert>
	</div>

	<div id="auth">
		<ui:insert name="auth">
			<ui:include src="/template/fragments/auth.xhtml" />
		</ui:insert>
	</div>

	<div id="content">
		<ui:insert name="content">
			<ui:include src="/template/fragments/contentNewThread.xhtml" />
		</ui:insert>
	</div>

	<!-- <div id="footer"> -->
	<!--     <ui:insert name="footer"> -->
	<!--         <ui:include src="/footer.xhtml"/> -->
	<!--     </ui:insert> -->
	<!-- </div> -->

	<div id="jquerys">
		<ui:insert name="jquerys">
			<ui:include src="/template/fragments/jquerys.xhtml" />
		</ui:insert>
	</div>

	<script>
		new Taggle('tags',{duplicateTagClass: 'bounce'});
	</script>

</h:body>
</html>